DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here
GOOGLE_APPLICATION_CREDENTIALS="./google-credentials.json"

VOICEVOX_URLS="http://localhost:50021"
HEALTH_CHECK_CHANNEL_ID=your_health_check_channel_id_here

BOT_PORT=31001
BOT_PORTS=31001,31002,31003,31004,31005
