node_modules/
dist/

.env
*gou.env

google-credentials.json

logs/
temp/
pre_cache_audio/

voice_cache.json
src/voice_cache.json

guild_settings/
user_speakers/

lastVoiceChannel*.json
fleet_vc_state.json

scratch/
sounds/

.DS_Store
